<% if notice.present? %>
  <article class="message is-info">
    <div class="message-body">
      <%= notice %>
    </div>
  </article>
<% end %>

<p class="has-text-right is-pulled-right">
  <%= link_to 'New User', new_user_path, class: 'button is-link' %>
</p>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="#" aria-current="page">Users</a></li>
  </ul>
</nav>

<div class="is-clearfix mb-6">&nbsp;</div>

<div class="columns is-multiline">
  <% @users.each do |user| %>
    <%= render partial: 'user', locals: { user: user } %>
  <% end %>
</div>
