<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <i class="fas fa-home fa-lg"></i> &nbsp;Angorah
      <% end %>
      <a role="button" id="navbar-burger-id" class="navbar-burger" data-target="#navbarHeader">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div id="navbarHeader" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            I'm &nbsp;<b><%= user_name %></b>
          </a>
          <div class="navbar-dropdown">
            <%= users_links %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
